streamlit==1.42.0
pandas==2.1.3
openpyxl==3.1.2
PyPDF2==3.0.1
python-docx
requests==2.31.0
Pillow==10.1.0
markitdown[all]
langgraph
langchain
langsmith
langchain-core
langchain-community
langchain-anthropic
langchain-openai
zhipuai
beautifulsoup4
openai
mcp-client
websockets
mcp
python-dotenv
aiohttp
PyMuPDF
crewai== 0.36.0
crewai-tools==0.4.7
chromadb
openpyxl
xlsxwriter
pysqlite3-binary